h1 {
    font-size: 50px;
    color: #FF4500; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

a {
    color: #333333;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
     display: flex;
    flex-direction: column;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 340px;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.caixaCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 950px;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

h2 {
    max-width: 100%;
    text-align: center;
    color: #333333;
}

input, select {
    width: 100%;
    padding: 2%;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background: #FF4500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.tabela select {
    width: auto;
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    height: 24px;
}

.tabela th, .tabela td {
    border: 1px solid #ccc;
    padding: 8px;
    background: #ffffff;
    font-size: 15px; 
    text-align: center; 
    vertical-align: middle; 
}